<section id="feature" data-scrolloffset="50" class="rex-feature">
    <div class="container">
        <div class="rex-heading">
            {{
                widget('content', 'feature-content', {
                    content: '<h3> Tattoos & Piercings </H3>'
                })|raw
            }}
        </div>
        
        <div class="row">
            <div id="rex-feature">
                <div class="item col-md-4">
                    <article class="wow fadeInUp"  data-wow-duration="1s" data-wow-delay="0.5s">
                        <a href="#tattoos" class="rex-feature-box">
                            <i class="fa fa-anchor rex-feature-icon"></i>
                            {{
                                widget('content', 'feature-content1', {
                                    content:' <h4> Tattoos </h4>'
                                })|raw
                            }}
                        </a>
                    </article>
                </div>
                <div class="item col-md-4">
                    <article class="wow fadeInUp"  data-wow-duration="1.2s" data-wow-delay="0.5s">
                        <a href="#tattoo-care" class="rex-feature-box">
                            <i class="fa fa-heart rex-feature-icon"></i>
                            {{
                                widget('content', 'feature-content2', {
                                    content: '<h4>Verzorging Tattoos</h4>' 
                                })|raw
                            }}
                        </a>
                    </article>
                </div>
                <div class="item col-md-4">
                    <article class="wow fadeInUp"  data-wow-duration="1.4s" data-wow-delay="0.7s">
                        <a href="#tattoo-gallery" class="rex-feature-box">
                            <i class="fa fa-picture-o  rex-feature-icon"></i>
                            {{
                                widget('content', 'feature-content3', {
                                    content: '<h4>Tattoo Gallerij</h4>' 
                                })|raw
                            }}
                        </a>
                    </article>
                </div>
                <div class="item col-md-4">
                    <article class="wow fadeInUp"  data-wow-duration="1s" data-wow-delay="0.5s">
                        <a href="#piercings" class="rex-feature-box">
                            <i class="fa fa-circle-o-notch  rex-feature-icon"></i>
                            {{
                                widget('content', 'feature-content4', {
                                    content: '<h4>Piercings</h4>' 
                                })|raw
                            }}
                        </a>
                    </article>
                </div>
                <div class="item col-md-4">
                    <article class="wow fadeInUp"  data-wow-duration="1.2s" data-wow-delay="0.5s">
                        <a href="#piercing-care" class="rex-feature-box">
                            <i class="fa fa-heart rex-feature-icon"></i>
                            {{
                                widget('content', 'feature-content5', {
                                    content: '<h4>Verzorging Piercings</h4>' 
                                })|raw
                            }}
                        </a>
                    </article>
                </div>
                <div class="item col-md-4">
                    <article class="wow fadeInUp"  data-wow-duration="1.4s" data-wow-delay="0.7s">
                        <a href="#piercing-gallery" class="rex-feature-box">
                            <i class="fa fa-picture-o  rex-feature-icon"></i>
                            {{
                                widget('content', 'feature-content6', {
                                    content: '<h4>Piercing Gallerij</h4>' 
                                })|raw
                            }}
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
